@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    background-color: #045269;
    font-family: 'Trebuchet MS';
    font-weight: 400;
    font-style: normal;
}

.container {
    margin: 20px 20px;
}




.calculator {
    height: 550px;
    width: 450px;
    border: 1px solid #ccc;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: -340px;
    overflow: none;
    background-color: #8cd0f7;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.6);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 20px;
    user-select: none;

}


.display {
    padding: 20px;
    margin: -20px;
    margin-bottom: 10px;
    overflow-x: hidden;
    width: 100%;
    font-size: 50px;
    text-align: right;
    height: 140px;
    background-color: #222;
    color: #ccc;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.9);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px auto;
}

button {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 20px;
    padding: 10px 30px;
    margin: 5px auto;
}

.buttons button:hover {
    background-color: #929292;
    transition: 0.5s;

}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(6px);
    transition: 0.3s;
}

.buttons .operator {
    background-color: #f9a825;
    color: #fff;
}

.buttons .operator:hover {
    background-color: #e4720f;
}

.buttons .equal {
    background-color: #43a047;
    color: #fff;
}

.buttons .equal:hover {
    background-color: #2c6e2f;
}

.buttons .clear {
    background-color: #e53935;
    color: #fff;
}

.buttons .clear:hover {
    background-color: #af2525;
}

.buttons .slice {
    background-color: #fbc02d;
    color: #fff;
}

.buttons .slice:hover {
    background-color: #ca8a24;
}


.center {
    text-align: center;
    color: #045269;
    width: 100%;
}

.hints {
    font-size: 20px;
    color: white;
    margin-left: 200px;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {

    body {
        overflow: hidden;
    }

    .calculator {
        margin-top: 5px;
        margin-bottom: 20px;
        width: 80%;
        height: 500px;
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
    }

    .display {
        height: 100px;
        width: 100%;
        font-size: 40px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    button {
        padding: 10px 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 100%;
        height: 100%;

    }

    .buttons {
        margin-left: -10px;
    }


    .center h3 {
        font-size: 8px;
    }

    .hints {
        display: none;
    }

}

@media screen and (min-width: 769px) and (max-width:1350px) {
    .hints {
        text-align: center;
        margin: 0;
    }

    .calculator {
        margin-top: 0;
        margin-bottom: 50px;
    }
}
